/*GLobal*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: #f4f4f4;
  color: #1f2a44;
}

.section-padding {
  padding: 70px 0;
}

.section-title {
  font-weight: 700;
  margin-bottom: 10px;
}

.section-subtitle {
  color: #6c757d;
  font-size: 14px;
}

/*Navbar*/
.custom-navbar {
  background-color: #f2f2f2;
  padding: 12px 0;
}

.nav-link {
  font-weight: 500;
  font-size: 15px;
  color: #222 !important;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f5a623 !important;
}

.nav-link.active {
  font-weight: 600;
}

.navbar-brand img {
  transition: transform 0.3s ease;
}

.navbar-brand img:hover {
  transform: scale(1.05);
}

/*Hero*/
.hero {
  position: relative;
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("hero.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  color: #fff;
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.hero p {
  font-size: 1rem;
  margin-bottom: 20px;
}

/*Botones*/
.btn-warning {
  background-color: #f5a623;
  border: none;
  font-weight: 500;
  color: #fff;
}

.btn-warning:hover {
  background-color: #e6951f;
  color: #fff;
}

/*Services Section*/
.card {
  border-radius: 14px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card .bi {
  color: #253256 !important;
}

/*Projects section*/
.card-img-top {
  border-radius: 14px 14px 0 0;
  transition: transform 0.5s ease;
  overflow: hidden;
}

.card:hover .card-img-top {
  transform: scale(1.05);
}


/*excelence feature section*/
.py-5.bg-light .row h5 {
  font-weight: 600;
  margin-bottom: 8px;
}

.py-5.bg-light .row p {
  font-size: 14px;
}

/*Stats section*/
.py-5.text-center h2 {
  font-weight: 700;
  margin-bottom: 5px;
  color: #253256;
}

.py-5.text-center p {
  font-size: 14px;
  color: #6c757d;
}

/*contact section*/
.form-control {
  border-radius: 8px;
  font-size: 14px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #253256;
}

/*Footer*/
.footer-section {
  background-color: #1f2a44;
}

.footer-divider {
  border-color: rgba(255, 255, 255, 0.2);
}

.footer-links {
  padding-left: 0;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  text-decoration: none;
  color: #d1d5db;
  font-size: 14px;
  transition: color 0.3s ease, padding-left 0.3s ease;
}

.footer-links a:hover {
  color: #ffffff;
  padding-left: 5px;
}

.social-icon {
  color: #ffffff;
  font-size: 18px;
  margin-left: 15px;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #fbbf24;
}

/*responsive*/

@media (max-width: 991px) {
  .hero {
    height: 60vh;
    text-align: center;
  }

  .hero h1 {
    font-size: 2rem;
  }
  .mb-4 {
    text-align: center;
    align-items: center;
    margin-bottom: 1.5rem !important;
}
}

@media (max-width: 576px) {
  .section-padding {
    padding: 40px 0;
  }
  
}
